Repository WordPress/pattern-directory, pull requests merged in 2021-06, with the labels that each got.

#118 Theme: Use new `wporgSiteUrl` to link back to All patterns page
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/utils.js
Labels: [Component] Theme

#119 Patterns: Use CopyPatternButton in thumbnail
  public_html/wp-content/themes/pattern-directory/css/components/_copy-button.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid.scss
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/src/components/copy-pattern-button/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/index.js
Labels: [Component] Theme

#121 Single Patterns: Update pattern preview and header
  public_html/wp-content/themes/pattern-directory/css/components/_favorite-button.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-preview.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern.scss
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview-actions/copy-success-message.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview-actions/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern/index.js
  public_html/wp-content/themes/pattern-directory/src/index.js
Labels: [Component] Theme

#123 Tools: Update packages & formatting config
  .eslintrc.js
  package.json
  public_html/wp-content/plugins/pattern-creator/package.json
  public_html/wp-content/plugins/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/Gruntfile.js
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/src/components/category-menu/default.js
  public_html/wp-content/themes/pattern-directory/src/components/icons/heart-filled.js
  public_html/wp-content/themes/pattern-directory/src/components/icons/heart-outline.js
  public_html/wp-content/themes/pattern-directory/src/components/iframe/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid-menu/index.js
  public_html/wp-content/themes/pattern-directory/src/components/report-pattern-button/index.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/test/fixtures/categories.js
  public_html/wp-content/themes/pattern-directory/src/store/test/fixtures/pattern-flag-reasons.js
  public_html/wp-content/themes/pattern-directory/src/store/test/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/test/utils.js
  public_html/wp-content/themes/pattern-directory/src/utils/get-pagination-list.js
  public_html/wp-content/themes/pattern-directory/src/utils/query.js
  yarn.lock
Labels: [Component] Tooling

#115 Try `@wordpress/edit-post` for the creator UI.
  public_html/wp-content/plugins/pattern-creator/package.json
  public_html/wp-content/plugins/pattern-creator/pattern-creator.php
  public_html/wp-content/plugins/pattern-creator/src/api-middleware/filter-endpoints.js
  public_html/wp-content/plugins/pattern-creator/src/api-middleware/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/document-setting-panel/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/document-setting-panel/style.css
  public_html/wp-content/plugins/pattern-creator/src/components/editor/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/header/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/header/style.css
  public_html/wp-content/plugins/pattern-creator/src/components/header/submit-button.js
  public_html/wp-content/plugins/pattern-creator/src/components/layout/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/layout/sidebar.js
  public_html/wp-content/plugins/pattern-creator/src/components/layout/style.css
  public_html/wp-content/plugins/pattern-creator/src/components/settings/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/settings/panels.js
  public_html/wp-content/plugins/pattern-creator/src/components/settings/publish-header.js
  public_html/wp-content/plugins/pattern-creator/src/components/settings/save-button.js
  public_html/wp-content/plugins/pattern-creator/src/components/settings/style.css
  public_html/wp-content/plugins/pattern-creator/src/components/unit-control/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/visual-editor/block-inspector-button.js
  public_html/wp-content/plugins/pattern-creator/src/components/visual-editor/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/visual-editor/style.css
  public_html/wp-content/plugins/pattern-creator/src/hooks/use-post-data.js
  public_html/wp-content/plugins/pattern-creator/src/index.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/block-scope-settings-panel.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/category-settings-panel.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/inspector-controls-modifier.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/keyword-settings-panel.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/main-dashboard-button.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/save-post-modifier.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/update-inspector-panel-text.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/viewport-header-control.js
  public_html/wp-content/plugins/pattern-creator/src/store/actions.js
  public_html/wp-content/plugins/pattern-creator/src/store/hooks/use-post-meta.js
  public_html/wp-content/plugins/pattern-creator/src/store/hooks/use-post-taxonomy.js
  public_html/wp-content/plugins/pattern-creator/src/store/index.js
  public_html/wp-content/plugins/pattern-creator/src/store/reducer.js
  public_html/wp-content/plugins/pattern-creator/src/store/selectors.js
  public_html/wp-content/plugins/pattern-creator/src/store/utils.js
  public_html/wp-content/plugins/pattern-creator/src/style.css
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type.js
  yarn.lock
Labels: [Component] Pattern Creator

#151 Theme: Make Menu & Search components more universal
  public_html/wp-content/themes/pattern-directory/css/README.md
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_copy-button.scss
  public_html/wp-content/themes/pattern-directory/css/components/_favorite-button.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid-menu.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-menu.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-search.scss
  public_html/wp-content/themes/pattern-directory/css/components/_search-form.scss
  public_html/wp-content/themes/pattern-directory/css/components/_section-heading.scss
  public_html/wp-content/themes/pattern-directory/src/components/copy-pattern-button/index.js
  public_html/wp-content/themes/pattern-directory/src/components/favorite-button/index.js
  public_html/wp-content/themes/pattern-directory/src/components/menu/default.js
  public_html/wp-content/themes/pattern-directory/src/components/menu/index.js
  public_html/wp-content/themes/pattern-directory/src/components/menu/mobile.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid-menu/index.js
  public_html/wp-content/themes/pattern-directory/src/components/search/index.js
  public_html/wp-content/themes/pattern-directory/template-parts/content-grid.php
Labels: [Component] Theme

#158 Theme: Add support for custom Gutenberg features.
  public_html/wp-content/themes/pattern-directory/functions.php
Labels: [Component] Theme

#169 Turn off full width pattern-grid-menu decendants on desktop.
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid-menu.scss
  public_html/wp-content/themes/pattern-directory/src/components/menu/default.js
  public_html/wp-content/themes/pattern-directory/src/components/menu/index.js
  public_html/wp-content/themes/pattern-directory/src/components/menu/mobile.js
Labels: [Component] Theme

#177 Fix visual bugs in pattern previews
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/components/iframe/index.js
Labels: [Component] Theme

#185 Creator: Reduce the viewport min value.
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
Labels: [Component] Pattern Creator

#152 Create the "My Patterns" page
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_page-my-patterns.scss
  public_html/wp-content/themes/pattern-directory/css/objects/_buttons.scss
  public_html/wp-content/themes/pattern-directory/css/objects/_objects.scss
  public_html/wp-content/themes/pattern-directory/css/settings/_colors.scss
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/page-my-patterns.php
  public_html/wp-content/themes/pattern-directory/src/components/my-patterns/index.js
  public_html/wp-content/themes/pattern-directory/src/components/my-patterns/menu.js
  public_html/wp-content/themes/pattern-directory/src/components/query-monitor/index.js
  public_html/wp-content/themes/pattern-directory/src/index.js
Labels: [Component] Theme

#153 Add UI for unlisting a pattern from the directory
  public_html/wp-content/plugins/pattern-directory/bootstrap.php
  public_html/wp-content/plugins/pattern-directory/includes/admin-patterns.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/plugins/pattern-directory/includes/post-status.php
  public_html/wp-content/plugins/pattern-directory/package.json
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type.js
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/details.js
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/index.js
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/settings.js
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/unlist-button.js
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/unlist-button.scss
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/unlist-notice.js
Labels: [Component] Pattern Directory

#112 Creator: Publish submission window
  public_html/wp-content/plugins/pattern-creator/package.json
  public_html/wp-content/plugins/pattern-creator/src/components/publish-modal/images/circle.svg
  public_html/wp-content/plugins/pattern-creator/src/components/publish-modal/images/square.svg
  public_html/wp-content/plugins/pattern-creator/src/components/publish-modal/images/triangle.svg
  public_html/wp-content/plugins/pattern-creator/src/components/publish-modal/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/publish-modal/style.css
  public_html/wp-content/plugins/pattern-creator/src/components/publish-modal/submit.js
  public_html/wp-content/plugins/pattern-creator/src/components/publish-modal/success.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/save-post-modifier.js
  public_html/wp-content/plugins/pattern-creator/src/style.css
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/details.js
Labels: [Component] Pattern Creator

#230 Theme: Display patterns by a single author
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/src/components/query-monitor/index.js
Labels: [Component] Theme

#97 Creator: Add welcome guide on first load.
  public_html/wp-content/plugins/pattern-creator/package.json
  public_html/wp-content/plugins/pattern-creator/src/components/welcome-guide/images.js
  public_html/wp-content/plugins/pattern-creator/src/components/welcome-guide/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/welcome-guide/style.css
  public_html/wp-content/plugins/pattern-creator/src/index.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/gutenberg-feature-remover.js
  public_html/wp-content/plugins/pattern-creator/src/plugins/welcome-guide-plugin.js
Labels: [Component] Pattern Creator

#236 Theme: Add a resolver for the `getPattern` selector
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/components/pattern/index.js
  public_html/wp-content/themes/pattern-directory/src/index.js
  public_html/wp-content/themes/pattern-directory/src/store/actions.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/test/resolvers.js
Labels: [Component] Theme

#229 Add locale picker to pattern editor
  .wp-env.json
  .wp-env/0-sandbox.php
  .wp-env/data/wporg_locales.sql
  bin/index.sh
  composer.json
  composer.lock
  public_html/wp-content/plugins/pattern-directory/includes/admin-patterns.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/details.js
  yarn.lock
Labels: [Component] Pattern Creator, [Component] Pattern Directory
