Repository WordPress/pattern-directory, pull requests merged in 2021-07, with the labels that each got.

#238 Theme: Display other patterns by this author on single page
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/css/components/_pattern.scss
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern/author-details.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern/index.js
  public_html/wp-content/themes/pattern-directory/src/index.js
Labels: [Component] Theme

#240 Add/pattern grid loading
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_skeleton.scss
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/card-skeleton.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/canvas.js
  public_html/wp-content/themes/pattern-directory/src/components/skeleton/index.js
  public_html/wp-content/themes/pattern-directory/src/utils/get-card-frame-height.js
Labels: [Component] Theme

#253 CPT: Update the filter name for block types to fix warning.
  public_html/wp-content/plugins/pattern-creator/pattern-creator.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
Labels: [Component] Pattern Directory

#263 Theme: Update copy and fix i18n issues
  public_html/wp-content/themes/pattern-directory/src/components/category-context-bar/messaging.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview-actions/copy-guide.js
Labels: [Component] Theme, i18n

#249 Pattern Creator: Set up creating/editing permissions for logged in wp.org users
  public_html/wp-content/plugins/pattern-creator/pattern-creator.php
  public_html/wp-content/plugins/pattern-creator/view/editor.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/plugins/pattern-directory/tests/phpunit/capabilities-test.php
  public_html/wp-content/themes/pattern-directory/functions.php
Labels: [Component] Pattern Creator, [Component] Pattern Directory, [Component] Theme

#254 Theme: Update Pattern Grid menu loading
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid-menu.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-menu.scss
  public_html/wp-content/themes/pattern-directory/src/components/menu/default.js
  public_html/wp-content/themes/pattern-directory/src/components/menu/menu-skeleton.js
Labels: [Component] Theme

#265 Replace backtick quotes
  public_html/wp-content/plugins/pattern-creator/src/plugins/viewport-header-control.js
Labels: [Component] Pattern Creator, i18n

#266 Pattern Previews: Use less-opinionated base theme
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/src/components/iframe/index.js
Labels: [Component] Theme

#267 Theme: Add RTL build step, fix issues in RTL sites
  public_html/wp-content/themes/pattern-directory/Gruntfile.js
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-preview.scss
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/canvas.js
  yarn.lock
Labels: [Component] Theme, [Component] Tooling

#264 Tools: Update PHP CodeSniffer config
  phpcs.xml.dist
Labels: [Component] Tooling

#250 Add Translation of Patterns via GlotPress
  .gitignore
  public_html/wp-content/plugins/pattern-translations/includes/cli-commands.php
  public_html/wp-content/plugins/pattern-translations/includes/cron.php
  public_html/wp-content/plugins/pattern-translations/includes/i18n.php
  public_html/wp-content/plugins/pattern-translations/includes/makepot.php
  public_html/wp-content/plugins/pattern-translations/includes/parser.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/BasicText.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/BlockParser.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/Button.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/Heading.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/Noop.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/Paragraph.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/ShortcodeBlock.php
  public_html/wp-content/plugins/pattern-translations/includes/parsers/TextNode.php
  public_html/wp-content/plugins/pattern-translations/includes/pattern.php
  public_html/wp-content/plugins/pattern-translations/pattern-translations.php
Labels: i18n

#271 Theme: Fix missing "page 3" link in pagination
  public_html/wp-content/themes/pattern-directory/src/utils/get-pagination-list.js
  public_html/wp-content/themes/pattern-directory/src/utils/test/get-pagination-list.js
Labels: [Component] Theme

#277 Report pattern modal: Sort reason terms by slug for custom sort order
  public_html/wp-content/themes/pattern-directory/src/components/report-pattern-modal/index.js
Labels: [Component] Theme

#275 Directory: Generate translatable strings for taxonomy terms that appear in the UI
  .github/workflows/i18n.yml
  bin/i18n.php
  composer.json
  composer.lock
  extra/translation-strings.php
  public_html/wp-content/plugins/pattern-creator/pattern-creator.php
  public_html/wp-content/plugins/pattern-directory/bootstrap.php
Labels: [Component] Pattern Directory

#272 Theme: Fix drag handle precision and minimum value
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview/drag-handle.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview/index.js
Labels: [Component] Theme

#276 Patterns: Show real favorite counts
  public_html/wp-content/plugins/pattern-directory/includes/class-rest-favorite-controller.php
  public_html/wp-content/plugins/pattern-directory/includes/favorite.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/src/store/actions.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
Labels: [Component] Theme

#281 Patterns: Re-enable revisions support for pattern post type
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
Labels: [Component] Pattern Directory

#289 Theme Turn off the create new pattern button.
  public_html/wp-content/themes/pattern-directory/page-my-patterns.php
Labels: [Component] Theme

#286 Theme: Update the PHP view to reflect the JS content
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern.scss
  public_html/wp-content/themes/pattern-directory/index.php
  public_html/wp-content/themes/pattern-directory/search.php
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/index.js
  public_html/wp-content/themes/pattern-directory/template-parts/content-grid.php
Labels: [Component] Theme

#291 Theme: Update data passed from the server to the app
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/components/my-patterns/index.js
  public_html/wp-content/themes/pattern-directory/src/components/my-patterns/menu.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview-actions/copy-guide.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern/index.js
  public_html/wp-content/themes/pattern-directory/src/components/report-pattern-button/index.js
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/utils.js
Labels: [Component] Theme

#293 Tools: Create a production-ready theme build, add dev build step for plugins
  public_html/wp-content/plugins/pattern-creator/package.json
  public_html/wp-content/plugins/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/Gruntfile.js
  public_html/wp-content/themes/pattern-directory/package.json
  yarn.lock
Labels: [Component] Tooling

#288 Add in links to get to the interior pages.
  public_html/wp-content/themes/pattern-directory/css/components/_site-header.scss
  public_html/wp-content/themes/pattern-directory/header.php
Labels: [Component] Theme

#280 Patterns: Handle empty results and 404 pages
  public_html/wp-content/themes/pattern-directory/404.php
  public_html/wp-content/themes/pattern-directory/css/components/_404.scss
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid.scss
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/src/components/my-favorites/empty-header.js
  public_html/wp-content/themes/pattern-directory/src/components/my-favorites/index.js
  public_html/wp-content/themes/pattern-directory/src/components/my-patterns/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/grid-skeleton.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/index.js
  public_html/wp-content/themes/pattern-directory/src/components/patterns-search/index.js
  public_html/wp-content/themes/pattern-directory/src/components/patterns/empty-header.js
  public_html/wp-content/themes/pattern-directory/src/components/patterns/index.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
Labels: [Component] Theme

#294 Stats snapshots for patterns
  public_html/wp-content/plugins/pattern-directory/bootstrap.php
  public_html/wp-content/plugins/pattern-directory/includes/admin-patterns.php
  public_html/wp-content/plugins/pattern-directory/includes/admin-stats.php
  public_html/wp-content/plugins/pattern-directory/includes/admin.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-flag-post-type.php
  public_html/wp-content/plugins/pattern-directory/includes/stats.php
Labels: [Component] Pattern Directory

#295 Theme: Fix backwards and forwards navigation state.
  public_html/wp-content/themes/pattern-directory/src/hooks/route.js
Labels: [Component] Theme

#296 Theme: Fix favorite button styles
  public_html/wp-content/themes/pattern-directory/src/components/favorite-button/small.js
Labels: [Component] Theme

#287 Theme: Add ordering to patterns.
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-menu.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-navigation-layout.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-order-select.scss
  public_html/wp-content/themes/pattern-directory/src/components/menu/default.js
  public_html/wp-content/themes/pattern-directory/src/components/menu/menu-skeleton.js
  public_html/wp-content/themes/pattern-directory/src/components/my-patterns/index.js
  public_html/wp-content/themes/pattern-directory/src/components/my-patterns/menu.js
  public_html/wp-content/themes/pattern-directory/src/components/navigation-layout/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid-menu/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/pagination.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-order-select/index.js
  public_html/wp-content/themes/pattern-directory/src/components/skeleton/index.js
Labels: [Component] Theme

#303 Theme: Decode search term for language support
  public_html/wp-content/themes/pattern-directory/src/utils/query.js
  public_html/wp-content/themes/pattern-directory/src/utils/test/query.js
Labels: [Component] Theme

#304 Pattern Translations: Retain original pattern's date in translated patterns
  public_html/wp-content/plugins/pattern-translations/pattern-translations.php
Labels: i18n

#302 Theme: Increase enqueue action priority
  public_html/wp-content/themes/pattern-directory/functions.php
Labels: [Component] Theme

#308 Theme: Add missing i18n function calls.
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview/index.js
  public_html/wp-content/themes/pattern-directory/src/components/report-pattern-modal/index.js
Labels: [Component] Theme

#306 Translate term names, and load the correct locale for API & REST-API requests
  bin/i18n.php
  extra/translation-strings.php
  public_html/wp-content/plugins/pattern-translations/pattern-translations.php
Labels: [Component] Pattern Directory API, i18n

#305 Patterns: Update URL + query logic for consistent navigation
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_context-bar.scss
  public_html/wp-content/themes/pattern-directory/src/components/breadcrumb-monitor/index.js
  public_html/wp-content/themes/pattern-directory/src/components/category-context-bar/index.js
  public_html/wp-content/themes/pattern-directory/src/components/category-context-bar/messaging.js
  public_html/wp-content/themes/pattern-directory/src/components/context-bar/index.js
  public_html/wp-content/themes/pattern-directory/src/components/context-bar/messaging.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid-menu/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-order-select/index.js
  public_html/wp-content/themes/pattern-directory/src/components/patterns-search/index.js
  public_html/wp-content/themes/pattern-directory/src/components/patterns/index.js
  public_html/wp-content/themes/pattern-directory/src/components/query-monitor/index.js
  public_html/wp-content/themes/pattern-directory/src/store/selectors.js
  public_html/wp-content/themes/pattern-directory/src/store/test/selectors.js
Labels: [Component] Theme

#313 Patterns: Remove `pattern-` from the pattern categories URL structure
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid-menu/index.js
  public_html/wp-content/themes/pattern-directory/src/store/selectors.js
  public_html/wp-content/themes/pattern-directory/src/store/test/selectors.js
  public_html/wp-content/themes/pattern-directory/src/utils/query.js
  public_html/wp-content/themes/pattern-directory/src/utils/test/query.js
Labels: [Component] Theme

#309 Theme: Add og and twitter meta tags for better search and sharing
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/images/social-image.png
Labels: [Component] Theme

#307 Prioritise results by requested locale, but return Locale and default (en_US) patterns.
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/functions.php
Labels: [Component] Pattern Directory API, i18n

#319 Theme: Set the document title in PHP using translation functions
  public_html/wp-content/themes/pattern-directory/functions.php
Labels: [Component] Theme, i18n

#315 Pattern Translations: Copy viewport width from parent to translated post
  public_html/wp-content/plugins/pattern-translations/pattern-translations.php
Labels: i18n

#316 Patterns List Table: Enhancements for managing translations
  public_html/wp-content/plugins/pattern-directory/includes/admin-patterns.php
Labels: [Component] Pattern Directory

#323 Pattern Stats: Add CSV export for snapshots
  public_html/wp-content/plugins/pattern-directory/includes/admin-stats.php
  public_html/wp-content/plugins/pattern-directory/includes/class-export-csv.php
  public_html/wp-content/plugins/pattern-directory/includes/stats.php
  public_html/wp-content/plugins/pattern-directory/views/.gitkeep
  public_html/wp-content/plugins/pattern-directory/views/admin-stats.php
Labels: [Component] Pattern Directory

#334 Theme: Remove loading message for only sorts.
  public_html/wp-content/themes/pattern-directory/src/components/context-bar/index.js
Labels: [Component] Theme

#336 Theme: Fix pattern thumbnail click area.
  public_html/wp-content/themes/pattern-directory/css/components/_favorite-button.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-grid.scss
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/index.js
Labels: [Component] Theme

#338 Navigation Menu: Fix spacing around menu and message
  public_html/wp-content/themes/pattern-directory/css/components/_context-bar.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-navigation-layout.scss
  public_html/wp-content/themes/pattern-directory/src/components/context-bar/index.js
Labels: [Component] Theme

#337 Theme: Update the search form styles to match new designs.
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-search.scss
  public_html/wp-content/themes/pattern-directory/searchform.php
Labels: [Component] Theme

#341 Favorites: Update empty & logged out views
  public_html/wp-content/themes/pattern-directory/css/components/_404.scss
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_patterns-favorites.scss
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/src/components/context-bar/index.js
  public_html/wp-content/themes/pattern-directory/src/components/my-favorites/empty-header.js
  public_html/wp-content/themes/pattern-directory/src/components/my-favorites/index.js
Labels: [Component] Theme

#340 Theme: Change "My Favorites" to "Favorites"
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/header.php
  public_html/wp-content/themes/pattern-directory/page-favorites.php
  public_html/wp-content/themes/pattern-directory/src/components/my-favorites/index.js
  public_html/wp-content/themes/pattern-directory/src/index.js
Labels: [Component] Theme

#344 Patterns by Author: Show the author's display name instead of username.
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/src/components/breadcrumb-monitor/index.js
  public_html/wp-content/themes/pattern-directory/src/components/context-bar/index.js
Labels: [Component] Theme
