Repository WordPress/pattern-directory, pull requests merged in 2021-05, with the labels that each got.

#93 Add API for saving block patterns to a user's favorites
  public_html/wp-content/plugins/pattern-directory/bootstrap.php
  public_html/wp-content/plugins/pattern-directory/includes/class-rest-favorite-controller.php
  public_html/wp-content/plugins/pattern-directory/includes/favorite.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/plugins/pattern-directory/tests/phpunit/favorite-test.php
Labels: [Component] Pattern Directory

#83 Theme: Add a window to report pattern.
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-report-button.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-report-modal.scss
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/components/report-pattern-button/index.js
  public_html/wp-content/themes/pattern-directory/src/components/report-pattern-modal/index.js
  public_html/wp-content/themes/pattern-directory/src/index.js
  public_html/wp-content/themes/pattern-directory/src/store/actions.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/selectors.js
  public_html/wp-content/themes/pattern-directory/src/store/test/fixtures/pattern-flag-reasons.js
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/test/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/test/selectors.js
Labels: [Component] Theme

#94 Theme: Hook up pattern favorite functionality
  public_html/wp-content/themes/pattern-directory/css/components/_favorite-button.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern.scss
  public_html/wp-content/themes/pattern-directory/package.json
  public_html/wp-content/themes/pattern-directory/single-wporg-pattern.php
  public_html/wp-content/themes/pattern-directory/src/components/add-to-favorite-button/index.js
  public_html/wp-content/themes/pattern-directory/src/components/favorite-button/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-preview-actions/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/index.js
  public_html/wp-content/themes/pattern-directory/src/index.js
  public_html/wp-content/themes/pattern-directory/src/store/actions.js
  public_html/wp-content/themes/pattern-directory/src/store/index.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/selectors.js
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/test/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/test/selectors.js
Labels: [Component] Theme

#106 Theme: Update `CategoryContextBar ` with new loading UI.
  public_html/wp-content/themes/pattern-directory/css/components/_category-context-bar.scss
  public_html/wp-content/themes/pattern-directory/src/components/category-context-bar/index.js
  public_html/wp-content/themes/pattern-directory/src/components/category-context-bar/messaging.js
Labels: [Component] Theme

#111 Pattern CPT & API: Add block types meta field
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
Labels: [Component] Pattern Directory API

#110 Update the patterns state to track results per-page
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/src/store/actions.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/selectors.js
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/test/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/test/selectors.js
Labels: [Component] Theme

#113 Pattern Grid: Add support for paged requests
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/index.php
  public_html/wp-content/themes/pattern-directory/src/components/category-menu/default.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid-menu/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/index.js
  public_html/wp-content/themes/pattern-directory/src/components/patterns/index.js
  public_html/wp-content/themes/pattern-directory/src/components/query-monitor/index.js
  public_html/wp-content/themes/pattern-directory/src/store/actions.js
  public_html/wp-content/themes/pattern-directory/src/store/reducer.js
  public_html/wp-content/themes/pattern-directory/src/store/resolvers.js
  public_html/wp-content/themes/pattern-directory/src/store/test/reducer.js
  public_html/wp-content/themes/pattern-directory/src/utils/category.js
  public_html/wp-content/themes/pattern-directory/src/utils/index.js
  public_html/wp-content/themes/pattern-directory/src/utils/query.js
  public_html/wp-content/themes/pattern-directory/src/utils/test/index.js
  public_html/wp-content/themes/pattern-directory/src/utils/test/query.js
Labels: [Component] Theme

#114 Pattern Grid: Add the pagination component
  public_html/wp-content/themes/pattern-directory/css/components/_components.scss
  public_html/wp-content/themes/pattern-directory/css/components/_pattern-pagination.scss
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/index.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-grid/pagination.js
  public_html/wp-content/themes/pattern-directory/src/utils/get-pagination-list.js
  public_html/wp-content/themes/pattern-directory/src/utils/test/get-pagination-list.js
Labels: [Component] Theme
