Repository WordPress/pattern-directory, pull requests merged in 2022-03, with the labels that each got.

#417 Creator: Use Twenty Twenty-One styles in editor
  public_html/wp-content/plugins/pattern-creator/src/components/block-editor/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/editor/style.scss
Labels: [Component] Pattern Creator

#419 Pattern Preview: Update styles to match editor.
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/includes/inline-styles.php
Labels: [Component] Pattern Creator

#420 Pattern Creator: Add `theme.json` to theme to enable appearance tools.
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/theme.json
Labels: [Component] Pattern Creator

#423 Translations: Enable translations for all published patterns
  public_html/wp-content/plugins/pattern-translations/includes/pattern.php
  public_html/wp-content/plugins/pattern-translations/pattern-translations.php
Labels: [Component] Pattern Directory, i18n

#426 Creator: Move initial editor settings into initialize function
  public_html/wp-content/plugins/pattern-creator/src/components/editor/index.js
  public_html/wp-content/plugins/pattern-creator/src/index.js
  public_html/wp-content/plugins/pattern-creator/src/store/selectors.js
  public_html/wp-content/plugins/pattern-creator/src/store/test/selectors.js
Labels: [Component] Pattern Creator

#427 Add Internal Notes plugin to composer dependencies
  composer.json
  composer.lock
Labels: [Component] Tooling

#406 Add spam checking on pattern submissions
  public_html/wp-content/plugins/pattern-directory/includes/admin-patterns.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-validation.php
  public_html/wp-content/plugins/pattern-directory/tests/phpunit/pattern-content-validation-test.php
  public_html/wp-content/plugins/pattern-translations/includes/pattern.php
Labels: [Component] Pattern Creator, [Component] Pattern Directory

#428 Creator: Fix layout & alignment options
  public_html/wp-content/plugins/pattern-creator/pattern-creator.php
  public_html/wp-content/plugins/pattern-creator/src/components/block-editor/index.js
  public_html/wp-content/plugins/pattern-creator/src/components/editor/style.scss
  public_html/wp-content/plugins/pattern-creator/src/index.js
  public_html/wp-content/themes/pattern-directory/functions.php
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/canvas.js
  public_html/wp-content/themes/pattern-directory/theme.json
Labels: [Component] Pattern Creator, [Component] Theme

#432 Add logging for patterns and flags
  public_html/wp-content/plugins/pattern-directory/bootstrap.php
  public_html/wp-content/plugins/pattern-directory/includes/logging.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-flag-post-type.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
Labels: [Component] Pattern Directory

#436 Add a setting to change the flag threshold
  public_html/wp-content/plugins/pattern-creator/pattern-creator.php
  public_html/wp-content/plugins/pattern-creator/view/settings.php
  public_html/wp-content/plugins/pattern-directory/includes/admin-settings.php
  public_html/wp-content/plugins/pattern-directory/includes/admin.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-flag-post-type.php
  public_html/wp-content/plugins/pattern-directory/views/admin-settings.php
Labels: [Component] Pattern Directory

#438 Pattern Moderation: Add quick links & bulk edit actions to manage pattern status
  public_html/wp-content/plugins/pattern-directory/includes/admin-patterns.php
Labels: [Component] Pattern Directory

#439 Bin: Add a script to run spam checks over the patterns
  public_html/wp-content/plugins/pattern-directory/bin/check-spam.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-validation.php
Labels: [Component] Pattern Directory

#448 Pattern moderation: Store unlisted reason as tax term instead of postmeta
  public_html/wp-content/plugins/pattern-directory/includes/admin-patterns.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-flag-post-type.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/unlist-button/index.js
  public_html/wp-content/plugins/pattern-directory/src/pattern-post-type/unlist-button/utils.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern/status-notice.js
Labels: [Component] Pattern Directory

#430 Fix Spinner does not stop when favorites is an empty list
  public_html/wp-content/themes/pattern-directory/src/components/context-bar/index.js
  public_html/wp-content/themes/pattern-directory/src/components/my-favorites/index.js
Labels: [Type] Bug, [Component] Theme

#453 My Pattern: Display the reason on unlisted patterns
  public_html/wp-content/plugins/pattern-directory/includes/pattern-post-type.php
  public_html/wp-content/themes/pattern-directory/src/components/pattern/status-notice.js
Labels: [Component] Theme

#451 Send email notifications to pattern authors when certain status changes happen
  public_html/wp-content/plugins/pattern-directory/bootstrap.php
  public_html/wp-content/plugins/pattern-directory/includes/notifications.php
  public_html/wp-content/plugins/pattern-directory/includes/pattern-flag-post-type.php
Labels: [Component] Pattern Directory
