Repository WordPress/pattern-directory, pull requests merged in 2023-03, with the labels that each got.

#566 Fix boosted locale queries
  public_html/wp-content/plugins/pattern-directory/includes/search.php
Labels: [Type] Bug, [Component] Pattern Directory API

#568 API Middleware: Set the raw post content on /posts requests
  public_html/wp-content/plugins/pattern-creator/src/api-middleware/filter-endpoints.js
Labels: [Component] Pattern Creator

#567 Pattern Grid: Use mshots for published patterns only
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/canvas.js
  public_html/wp-content/themes/pattern-directory/src/components/pattern-thumbnail/index.js
Labels: [Component] Theme
